.flag-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  padding: 20px;
  margin: 5px 30px;
}
.flag-box {
  border: 1px solid gainsboro;
  /* background-color: red; */
  padding: 10px;
  text-align: center;
  box-shadow: 1px 1px 1px 1px gainsboro;
  border-radius: 10px;
}
